{% extends 'base.html' %}

{% block content %}
<div class="add-heading">
    <h4>Add Product:</h4>
    <form class="add-garment" action="/garments" method="post">
        
        <div>
            <label for="brand">Brand:</label>
            <select name="brand" id="brand_id">
                {% for brand in brands %}
                    <option value= "{{ brand.id }}">{{ brand.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" placeholder="Enter details..." required>
        </div>

        <div>
            <label for="description">Description:</label>
            <input type="text" name="description" id="description" placeholder="Enter details..." required>
        </div>

        <div>
            <label for="stock_quantity">Stock:</label>
            <input type="number" name="stock_quantity" id="stock_quantity" placeholder="Enter details..." required>
        </div>

        <div>
            <label for="buying_cost">Buying Cost:</label>
            <input type="number" name="buying_cost" id="buying_cost" placeholder="Enter details..." required>
        </div>

        <div>
            <label for="selling_price">Selling Price:</label>
            <input type="number" name="selling_price" id="selling_price" placeholder="Enter details..." required>
        </div>
        <div class="submit">
            <input  type="submit" value="Submit">
        </div>
    </form>
</div>
<hr>
<h1 class="all-garments">All Garments</h1>
<div>
    {% for garment in garments  %}
        <div>
           <a class="text" href="/garments/{{ garment.id }}"><h3>{{ garment.name }}</h3></a> 
        </div>
        {% for image in images %}
            {% if garment.id == image.garment.id %}
            <a class="img" href="/garments/{{ garment.id }}"><img src="static/css/{{image.name}}" alt="{{ image.name }}"/></a>
            {% endif %}
        {% endfor %}
        
        {% if garment.stock_quantity == 1 %}  
        <span>&#10071; Low Stock only {{ garment.stock_quantity }} item left!</span>
        {% endif %}

        {% if garment.stock_quantity == 0 %}
        <span>&#10060; Out of Stock!</span>
            
        {% endif %}
    {% endfor %}
</div>

{% endblock content %}