{% extends 'base.html' %}

{% block content %}
<div>
    <form class="add_garment" action="/garments" method="post">
    <h4>Add Product:</h4>

        <label for="brand_id">Brand:</label>
        <input type="text" name="brand_id" id="brand_id">

        <label for="name">Name:</label>
        <input type="text" name="name" id="name">

        <label for="description">Description:</label>
        <input type="text" name="description" id="description">

        <label for="stock_quantity">Stock:</label>
        <input type="text" name="stock_quantity" id="stock_quantity">

        <label for="buying_cost">Buying Cost:</label>
        <input type="text" name="buying_cost" id="buying_cost">

        <label for="selling_price">Selling Price:</label>
        <input type="text" name="selling_price" id="selling_price">

        <input type="submit" value="Submit">
    </form>
</div>
<hr>
<h1>All Garments</h1>
<div>
    {% for garment in garments  %}
        <div>
            <h3>{{ garment.name }}</h3>
        </div>
    {% endfor %}
</div>

{% endblock content %}