{% extends 'base.html' %}

{% block content %}
<div>
    <div class="add-type-title">
        <h4 class="type-title">Add Garment Type:</h4>
    </div>
    <div>
        <form class="add-type" action="/types" method="post">
            <label for="type_type">Type of Garment:</label>
                <input type="text" name="type_type" id="type_type">

                <input type="submit" value="Submit">
        </form>
    </div>
<hr>
    <div>
        <h1 class="all-types">All Types of Garments</h1>
    </div>
    <div>
        {% for type in types  %}
            <div class="position-types">
                <form action="/types/{{ type.id }}">
                    <button class="type-types"><h3>{{ type.type }}</h3></button>
                </form>
            </div>
        {% endfor %}
    </div>


{% endblock content %}