{% extends 'base.html' %}

{% block content %}
<section class="content">
    <div class="home-buttons">
        <div>
            <form action="/garments">
                <button class="garments"></button>
            </form>
        </div>
        
        <div>
            <form action="/brands">
                <button class="brands"></button>
            </form>
        </div>
        
        <div>
            <form action="/types">
                <button class="types"></button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
